<div class="form-container">
	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, :class => 'form-auth' }) do |f| %>
	  <%= devise_error_messages! %>

	  <h2 class="form-auth-heading">Resend confirmation instructions</h2>

	  <div class="field">
	    <%= f.email_field :email, autofocus: true, required: true, class: "form-control", placeholder: "Email address", type: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> 
	  </div>

	  <div class="actions">
	    <%= f.submit "Resend confirmation instructions", class: "btn btn-lg btn-primary btn-block form-auth-button" %>
	  </div>
	  
	  <div class="form-bottom-links">
        <%= render "devise/shared/links" %>
      </div>
	<% end %>
</div>