<div class="toolbar toolbar-editor">
  <ul>
    <li id="open_edit"><i class="fa fa-cogs"></i><div class="label">Tank Settings</div></li>
    <li id="save"><i class="fa fa-floppy-o"></i><div class="label">Save</div></li>
    <li id="open_editor"><i class="fa fa-terminal"></i><div class="label">Edit Code</div></li>
    <li id="publish"><i class="fa fa-share"></i><div class="label">Publish</div></li>
    <li id="open_published"><i class="fa fa-file-code-o"></i><div class="label">View Published Code</div></li>
  </ul>
</div>
<div id="editor"><% if @tank.code.nil? %>#Example code
class <%= @tank.name.gsub(/\s+/, '_').camelize %> < RTanque::Bot::Brain
  def tick!
    make_circles
    command.fire 0.25
  end

  def make_circles
    command.speed = RTanque::Bot::BrainHelper::MAX_BOT_SPEED
    command.heading = sensors.heading + RTanque::Heading.new_from_degrees(85)
    command.turret_heading = sensors.turret_heading - RTanque::Heading.new_from_degrees(35)
  end
end<% else %><%= @tank.code %><% end %></div>
<%# Extra spacing above gets added to the code %>


<div id="edit">
  <div class="container">
    <h1>Editing Tank</h1>
    <%= render 'form' %>
  </div>
</div>

<div id="published">
  <div class="container">
    <% if @tank.published_code %>
        <h1>Published Code</h1>
        <pre><code class="ruby"><%=@tank.published_code.html_safe%></code></pre>
    <% else %>
        <h1>No Published Code</h1>
        <button id="publish-btn">Publish Current Code</button>
    <% end %>
  </div>
</div>

<script>

    var editor = ace.edit("editor");
    <% if current_user.dark_theme %>
    editor.setTheme("ace/theme/solarized_dark");
    <% else %>
    editor.setTheme("ace/theme/solarized_light");
    <% end %>
    editor.getSession().setMode("ace/mode/ruby");
    editor.getSession().setOptions({useSoftTabs: true, tabSize: 2});
    editor.on("change", function(e){
        unsaved = true;
    });

    var saveCode = function() {
        return $.ajax({
            url : "/tanks/" + <%= @tank.id %> + '.json',
            data : {tank: {code: editor.getValue()}},
            type : 'PUT',
            complete: function(a, status){
                unsaved = false;
            }
        })
    };

    var publishCode = function() {
        var publishedCode = editor.getValue();
        $('#published code').text(publishedCode);
        hljs.highlightBlock($('#published code')[0]);

        return $.ajax({
            url: "/tanks/" + <%= @tank.id %> + '.json',
            data: {tank: {published_code: publishedCode}},
            type: 'PUT',
            complete: function(a, status){
                unsaved = false;
            }
        });
    };
</script>
