<div class="toolbar toolbar-editor">
  <ul>
    <li id="save"><i class="fa fa-floppy-o"></i></li>
    <li><i id="open_editor" class="fa fa-terminal"></i></li>
    <li><i id="open_edit" class="fa fa-cogs"></i></li>
    <li><i id="open_info" class="fa fa-question"></i></li>
    <li id="play-btn"><i class="fa fa-play"></i></li>
  </ul>
</div>
<div id="editor"><% if @tank.code.nil? %>#Example code
class <%= @tank.name.gsub(/\s+/, '_').camelize %> < RTanque::Bot::Brain
  def tick!
    make_circles
    command.fire 0.25
  end

  def make_circles
    command.speed = RTanque::Bot::BrainHelper::MAX_BOT_SPEED
    command.heading = sensors.heading + RTanque::Heading.new_from_degrees(85)
    command.turret_heading = sensors.turret_heading - RTanque::Heading.new_from_degrees(35)
  end
end<% else %><%= @tank.code %><% end %></div>
<%# Extra spacing above gets added to the code %>
<div id="info">
  <%= render 'docs' %>
</div>

<div id="edit">
  <div class="container">
    <h1>Editing Tank</h1>
    <%= render 'form' %>
  </div>
</div>


<script>
    function setVisible(id){
        $('#editor').css("display", "none");
        $('#info').css("display", "none");
        $('#edit').css("display", "none");

        $(id).css("display", "block");
    }
    setVisible('#editor');
    $('#open_editor').click(function(){
        setVisible('#editor');
    });
    $('#open_info').click(function(){
        setVisible('#info');
    });
    $('#open_edit').click(function(){
        setVisible('#edit');
    });
    setVisible('#editor');

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/solarized_light");
    editor.getSession().setMode("ace/mode/ruby");

    var saveCode = function() {
        return $.ajax({
            url : "/tanks/" + <%= @tank.id %> + '.json',
            data : {tank: {code: editor.getValue()}},
            type : 'PUT'
        })
    };

    $('#save').click(function(){
        saveCode()
        .done(function() {
            Replay.addNotice("Code saved!");
        })
        .fail(function() {
            Replay.addNotice("Error saving, try again later.");
        });
    });

    $('#play-btn').click(function(){
        saveCode()
        .done(function() {
            Replay.simulate();
        })
        .fail(function() {
            Replay.addNotice("Error saving, try again later.");
        });
    });
</script>
