<div class="toolbar toolbar-editor right">
  <ul>
    <li id="open_start"><i class="fa fa-wrench"></i><div class="label">Get Started</div></li>
    <li id="open_docs"><i class="fa fa-code"></i><div class="label">Documentation</div></li>
    <li id="play-btn"><i class="fa fa-play"></i><div class="label">Run Code</div></li>
  </ul>
</div>

<div id="play">
  <div class="spinner"></div>
  <canvas id="tranque-replay"></canvas>
  <%= javascript_include_tag 'paperscripts/Replay', 'data-turbolinks-track' => true, type: 'text/paperscript', canvas: 'tranque-replay' %>
</div>

<div id="getting-started">
  <%= render 'getting_started' %>
</div>

<div id="docs">
  <%= render 'docs' %>
</div>

<script>
  //Env variables
  window.WEBSOCKETS_HOST = "<%= ENV['RAILS_ENV'] == 'production' ? 'staging.techtanks.techretreat.ca' : 'localhost:3000' %>/websocket";
  window.MATCH_TANKS = [
      <%= Tank.where(owner: nil, public: true).push(@tank).map(&:id).join(", ").html_safe %>
  ];
</script>
