<div class="row" id="main">
  <div class="editor-screen col-md-6 nopadding">
    <%= render 'tanks/editor' %>
  </div>
  <div class="sidepane-screen col-md-6 nopadding">
    <%= render 'tanks/sidepane' %>
  </div>
</div>

<div class="container">
  <h1>Editing Tank</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @tank %> |
  <%= link_to 'Back', tanks_path %>
</div>
