<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-10">
      <h1>Tanks</h1>
    </div>
    <div class="col-md-2">
      <%= link_to 'New Tank', new_tank_path, class:"btn btn-lg btn-primary btn-block form-auth-button white" %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <% @tanks.each do |tank| %>
          <tr>
            <img src="http://placehold.it/150x150" alt="Preview" class="img-circle">
            <td><%= tank.name %></td>
            <td><%= link_to 'Show', tank %></td>
            <td><%= link_to 'Edit', edit_tank_path(tank) %></td>
            <td><%= link_to 'Destroy', tank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    </div>
  </div>

  <br>
</div>
