<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-10">
      <h1>Tanks</h1>
    </div>
    <div class="col-md-2">
      <%= link_to 'New Tank', new_tank_path, class:"btn btn-lg btn-primary btn-block form-auth-button white" %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <% @tanks.each do |tank| %>
          <div class="row">
            <div class="col-md-2">
            <img src="http://placehold.it/150x150" alt="Preview" class="img-circle">
            </div>
            <div class="col-md-10">
              <p><%= tank.name %></p>
              <p><%= link_to 'Show', tank %></p>
              <p><%= link_to 'Edit', edit_tank_path(tank) %></p>
              <p><%= link_to 'Destroy', tank, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>

          </div>
      <% end %>
    </div>
  </div>

  <br>
</div>
