<div class="tr-container">
    <div class="card" data-no-turbolink>
        <div class="tank-color" style="background-color:<%= @tank.color.html_safe %>"></div>
        <h1>
            <%= @tank.name %>
        </h1>
      <% if @tank.owner.nil? %>
          <h3>
            Sample bot
          </h3>
      <% else %>
        <h3>
            By: <%= @tank.owner.email %>
        </h3>
        <h4>
            Last updated <%= distance_of_time_in_words(@tank.updated_at, Time.now) %> ago
        </h4>
      <% end %>

        <div class="links">
            <% if !@tank.owner.nil? and !current_user.nil? and @tank.owner.id.equal? current_user.id %>
                <%= link_to 'Code', edit_tank_path(@tank), class:"button" %>
                <%= link_to 'Destroy', @tank, method: :delete, data: { confirm: 'Are you sure?' }, class:"button" %>
            <% end %>
            <%= link_to 'Back', tanks_path, class:"button" %>
        </div>
    </div>
</div>
