<% if @match.status == "done" && @match.replay_data %>
  <div class="toolbar toolbar-editor left">
    <ul>
      <li id="restart"><i class="fa fa-refresh"></i><div class="label">Replay</div></li>
    </ul>
  </div>
  <div id="play">
    <canvas id="tranque-replay"></canvas>
    <div id="endgame" style="display:none">
      <div id="stats">
        <h2>Game Over</h2>
        <table id="tanks">
            <tr>
              <th>Tank</th>
              <th>Points</th>
            </tr>
            <tr>
              <td>Test</td>
              <td>42</td>
            </tr>
            <tr>
              <td>Test</td>
              <td>42</td>
            </tr>
            <tr>
              <td>Test</td>
              <td>42</td>
            </tr>
        </table>
      </div>
    </div>
    <div id="replay-notices">
      <div id="toolbar">
        <span id="unread">0</span>
        TechTanks Console
        <a id="clear-console">Clear</a>
        <a id="switch-sides">Switch Sides</a>
      </div>
      <div id="console"></div>
    </div>
    <%= javascript_include_tag 'paperscripts/Replay', 'data-turbolinks-track' => true, type: 'text/paperscript', canvas: 'tranque-replay' %>
  </div>
  <script>
    //Env variables
    window.WEBSOCKETS_HOST = "<%= ENV['RAILS_ENV'] == 'production' ? 'techtanks.techretreat.ca' : 'localhost:3000' %>/websocket";
    window.REPLAY_DATA = <%= @match.replay_data.html_safe %>;
    $("#restart").click(function() {
      Replay.rerun();
    });
  </script>
<% else %>
  <div class="tr-container">
    <div class="card" data-no-turbolink>
      <h1><%= @match.name %></h1>
      <h2>Status: <%= @match.status %></h2>

      <div class="actions">
        <%= link_to 'Match List', matches_path, class:"button" %>
      </div>
    </div>
  </div>
  <% if @match.status == "running" %>
    <script>
setTimeout(function() {
  window.location.reload(true);
}, 5000);
    </script>
  <% end %>
<% end %>
