<% if @match.status == "done" && @match.replay_data %>
  <div class="toolbar toolbar-editor right">
    <ul>
    </ul>
  </div>
  <div id="play">
    <canvas id="tranque-replay"></canvas>
    <%= javascript_include_tag 'paperscripts/Replay', 'data-turbolinks-track' => true, type: 'text/paperscript', canvas: 'tranque-replay' %>
  </div>
  <script>
    //Env variables
    window.WEBSOCKETS_HOST = "<%= ENV['RAILS_ENV'] == 'production' ? 'staging.techtanks.techretreat.ca' : 'localhost:3000' %>/websocket";
    window.REPLAY_DATA = <%= @match.replay_data.html_safe %>;
  </script>
<% else %>
  <div class="tr-container">
    <div class="card" data-no-turbolink>
      <h1><%= @match.name %></h1>
      <h2>Status: <%= @match.status %></h2>

      <div class="actions">
        <%= link_to 'Match List', matches_path, class:"button" %>
      </div>
    </div>
  </div>
  <% if @match.status == "running" %>
    <script>
setTimeout(function() {
  window.location.reload(true);
}, 5000);
    </script>
  <% end %>
<% end %>
