<!DOCTYPE html>
<html>
  <head>
    <title>TRanque Online</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div id="wrapper">

    <%= render 'layouts/topbar' %>
    <!-- Page Content -->
    
    <div id="inner-body">
      <%= yield %>
      <div id="page-content-wrapper">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
          <% end -%>
      </div>
    </div>
  </div>
  </body>
</html>
